[submodule "margarita"]
	path = margarita
	url = https://github.com/sphen13/margarita.git
	branch = flask-basic-auth
[submodule "reposado"]
	path = reposado
	url = https://github.com/sphen13/reposado.git
	branch = master
